    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Tomorrow Deploy</h1>
            <h1 class="page-subhead-line">Tomorrow deploy</h1>
            <div class="email-contents"><p>Hey, Ladies and Gentlemen,</p>
            
<p>Tasks from bellow are ready to deploy:</p>
<p>{{#issues}}<div>{{index}}. {{Key}}: {{fields.summary}};</div>
{{/issues}}
</p>
<p>Proposed time to deploy: from 8:00AM till 11:00AM in GMT-0.</p>

<p>Please, let me know, can somebody assist from your end?</p>

<p>Thank you in advance.</p>
</div>
        </div>
    </div>

    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-12">
            <div class="auto-email"><a href="mailto:qa@rebelmouse.com?subject={{subject}}&body={{body}}">Create mail</a></div>
        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                <br />
                Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
            </div>
        </div>
    </div>
