<td style="width: 140px;">
<img src="{{fields.priority.iconUrl}}" title="{{fields.priority.name}}" style="width: 16px; height: 16px;"/>
{{fields.priority.name}}
</td>
<td>
<div>{{Key}}: {{fields.summary}}</div>
<div>{{fields.status.name}}</div>
</td>
<td></td>
<td>{{updated}}</td>
<td>{{fields.assignee.displayName}}</td>