<!--   JIRA Issues -->
<div class="panel panel-default">
    <div class="panel-heading">
        JIRA Issues
    </div>
    <div class="panel-body">
        <div class="filter-items">
            <div class="form-group">
                <label>Filter By Status</label>
                <div>
                    <button type="button" class="filter-reset btn btn-lg btn-primary">Reset</button>
                </div>
                <div class="filter-statuses"></div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th><div>Key: Summary</div><div>Status</div></th>
                        <th>X</th>
                        <th>Updated</th>
                        <th>Assignee</th>
                    </tr>
                </thead>
                <tbody class="issues-list">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End  JIRA Issues -->