<button
  type="button"
  class="btn btn-sm btn-{{#selected}}primary{{/selected}}{{^selected}}default{{/selected}}
  status-name" title="{{description}}" style="margin: 4px 6px;"
 >
    {{name}}
</button>