<div id="page-inner">
    <div class="row">
        <a href="javascript:(function(){HOST = 'https://dev.local';var jsCode = document.createElement('script');jsCode.setAttribute('src', HOST + '/mvc/jira/bookmarklet?' + Math.random());jsCode.setAttribute('id','jira-worktool-bookmarklet');document.getElementsByTagName('head')[0].appendChild(jsCode);}());"><button>Jira bookmarklet</button></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">JIRA Report</h1>
            <h1 class="page-subhead-line">Just one small report </h1>
            <h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        </div>
    </div>
    <!-- /. ROW  -->
        
    <div class="row">
        <div class="jira-issues-list col-md-12">

        </div>
    </div>
    <!-- /. ROW  -->

</div>
<!-- /. PAGE INNER  -->