<div><a href="{{link}}">{{title}}</a></div>
{{#hashes}}
<iframe src="https://www.vilynx.com/proplayer/player_frame2.html?hash={{hash}}&token" scrolling="no" style="overflow:hidden; border:0px;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" width="640" height="480" frameBorder="0" ></iframe>
{{/hashes}}
<button class="close-video">Close</button>