<div>Main View</div>
<button class="page-prev">Prev</button>
<button class="page-next">Next</button>
<ul class="vilynx-items">
</ul>
<button class="page-prev">Prev</button>
<button class="page-next">Next</button>